{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8">
        <div class="alert alert-info" role="alert">
            Please change bookmark information.
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="update">
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}